::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(172, 214, 184); 
    border-radius: 8px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent; 
}
html {
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple green;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
@media screen and (max-width:600px) {
    ::-webkit-scrollbar {
        width: 2px;
    }
      
    ::-webkit-scrollbar-thumb {
        background-color: grey; 
        border-radius: 6px;
        height: 4px;
    }
      
    ::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    html {
        scrollbar-width: thin;
        scrollbar-color: rebeccapurple green;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
  